.create-flashcard-maindiv{
max-height: 87vh;
overflow-y: auto;
.source-div {
    width: 40%;
    padding: 0 2rem;
}

.source-inputs {
    display: flex;
    justify-content: space-between;
}

.study-type-input {
    display: flex;
    justify-content: space-evenly;
}

.manual-btns {
    display: flex;
    justify-content: space-between;
}

.prev-btn {
    width: 30%;
}

.next-btn {
    width: 30%;
}
}

.right{

    .right-header1{
        margin-bottom: 20px;
       display: flex;
       justify-content: space-between;
        
    }
    .cardQues {
        // border: 1px solid blue;
        margin-bottom: 10px;
        background-color: #f0efef;
        padding: 20px;
        border-radius: 10px;
        // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        flex: 1;
    
        h3{
          font-weight: lighter;
        }
    
        ul {
          list-style-type: none; /* Remove default bullets */
          padding-left: 20px; /* Add padding to align items nicely */
        }
        
        ul li {
          position: relative;
          padding-left: 25px; /* Space for the custom dot */
          margin-bottom: 8px; /* Add some spacing between list items */
        }
        
        ul li::before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 15px; /* Outer dot size */
          height: 15px; /* Outer dot size */
          border: 2px solid grey; /* Outer border to make it look hollow */
          border-radius: 50%; /* Make it circular */
          box-sizing: border-box; /* Ensure proper dimensions */
        }
    }
}

.Loader_animation{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}