.source-div {
    width: 40%;
    padding: 0 2rem;
}

.source-inputs {
    display: flex;
    justify-content: space-between;
}

.study-type-input {
    display: flex;
    justify-content: space-evenly;
}

.manual-btns {
    display: flex;
    justify-content: space-between;
}

.prev-btn {
    width: 30%;
}

.next-btn {
    width: 30%;
}