.maindiv {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    width: 100%;
    max-height: 87vh;
    overflow-y:auto;
  
    .innerdiv {
      margin: 20px;
    }
  
    .carddiv {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      margin: 20px;
    }
  
    .card {
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      transition: box-shadow 0.3s ease;
  
      &:hover {
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
      }
  
      .card-image {
        padding: 5px;
        img {
          width: 100%;
          height: auto;
          border-radius: 5px;
        }
      }
  
      .card-content {
        padding-top: 0px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
  
        .card-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;
  
          .card-date {
            color: #ff8c00;
            font-weight: bold;
          }
  
          .card-actions {
            display: flex;
            gap: 10px;
  
            .edit-button,
            .delete-button {
              background-color: transparent;
              border: none;
              font-size: 18px;
              cursor: pointer;
            }
          }
        }
  
        .card-info {
          h3 {
            font-size: 1.2em;
            margin: 5px 0;
          }
  
          p {
            font-size: 0.9em;
            color: #555;
            margin: 0;
          }
        }
      }
    }
  }
  