.schedule-container {

    .month-year {
        font-size: 1rem;
        cursor: pointer;
    }

    .week-carousel {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        .arrow {
            font-size: 1rem;
            cursor: pointer;
            background: none;
            border: none;
        }

        .week-date {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 10px;
            cursor: pointer;
            padding: 2px;
            border-radius: 8px;
        
            .day {
                font-weight: lighter;
                color: #626262;
            }
        
            .date {
                font-size: 1.2rem;
                border-radius: 50%; /* Optional: to make it circular */
            }
        
            /* Apply the selected background color only to the date */
            &.selected {
                .day {
                    color: #ffa726; /* Change day color when selected */
                }
        
                .date {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #ffa726;
                    color: white; /* Change text color in date */
                    width: 40px;
                    height: 40px; /* Adjust padding if needed */
                }
            }
        }
        
    }

    .upcoming-events {
        h4 {
            margin-top: 20px;
            font-weight: lighter;
        }

        .event-list {
            list-style-type: none;
            padding: 0;
        }

        .event-item {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #f9f9f9;
        }

        .no-events {
            font-size: 1.2rem;
            color: #999;
        }
    }
}

.calendar-container {
    position: relative; // Make this the parent for positioning the DatePicker

    .datepicker-wrapper {
        position: absolute; // Enable absolute positioning
        top: 100%; // Adjust as needed to move the calendar below the current element
        left: 0; // Adjust as needed for left alignment, or use right: 0; for right alignment
        z-index: 1000; // Ensure it appears above other content
        // Style to match the surrounding area
        border: 1px solid #ccc;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
}
