
.dashboard{
    overflow-y: auto;  // Enable vertical scrolling when content overflows
    max-height:78vh;  // Adjust based on the space needed for other content (e.g., header and tabs)
.widgets {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;

    .widget {
        background-color: #fff;
        border-radius: 8px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        overflow: auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        height: 250px;
    }
}
}