.widgets {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    height: calc(100vh - 40px);
    box-sizing: border-box;

    .widget {
        background-color: #fff;
        border-radius: 8px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        overflow: auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}