body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

$primary-color: #fff;
$sidebar-width: 250px;

.home-page {
  display: flex;
  min-height: 100vh;

  .sidebar {
    background-color: $primary-color;
    border-right: 1px solid #ccc;
    // position: fixed;
    width: $sidebar-width;
    padding: 20px;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
    z-index: 10;

    // &.open {
    //   transform: translateX(0);
    // }

    // .hamburger {
    //   position: absolute;
    //   top: 15px;
    //   right: -45px;
    //   background-color: $primary-color;
    //   padding: 10px;
    //   border-radius: 5px;
    //   cursor: pointer;
    //   z-index: 20;

    //   img {
    //     width: 25px;
    //     height: 25px;
    //   }
    // }

    .logo {
      text-align: center;
      padding: 0;

      img {
        width: 120px;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        color: black;
        font-size: 16px;
        padding: 15px 20px;
        transition: background-color 0.3s;

        img {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }

        &.active {
          background-color: #FFF3E0;
          color: #1E1E1E;
        }

        &:hover {
          background-color: hsl(36, 88%, 75%);
          color: #fff;
        }
      }
    }
  }

  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 20px;
      background-color: #fff;
      border-bottom: 1px solid #ccc;
      position: relative;

      .profile {
        display: flex;
        align-items: center;
        position: relative;

        .icon-bell {
          font-size: 20px;
          margin-right: 20px;
          cursor: pointer;
        }

        .notifications-dropdown {
          position: absolute;
          top: 50px;
          right: 0;
          width: 200px;
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 5px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          z-index: 10;
          padding: 10px;

          h4 {
            margin: 0;
            margin-bottom: 10px;
            font-size: 16px;
          }

          p {
            margin: 0;
            font-size: 14px;
          }
        }

        .profile-info {
          display: flex;
          align-items: center;
          cursor: pointer;

          .profile-icon {
            width: 40px;
            height: 40px;
            background-color: #ccc;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
          }

          .profile-name {
            font-size: 16px;
            margin-right: 5px;
          }

          .dropdown-icon {
            font-size: 12px;
          }

          .profile-dropdown {
            position: absolute;
            top: 50px;
            right: 0;
            width: 150px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            z-index: 10;

            ul {
              list-style: none;
              padding: 10px;
              margin: 0;

              li {
                padding: 10px;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                  background-color: #f0f0f0;
                }
              }
            }
          }
        }
      }
    }

    .content {
      padding: 20px;
      background-color: #f9f9f9;

      h1 {
        margin-top: 0;
      }



      .chart-container {
        height: 300px; // Adjust height as needed
      }
    }
  }
}

@media (max-width: 768px) {
  .home-page {
    flex-direction: column;

    .sidebar {
      transform: translateX(0);

      // .hamburger {
      //   display: block;
      //   background-color: $primary-color;
      // }
    }

    .main-content {
      .header {
        justify-content: space-between;
      }

      .content {
        padding: 10px;

        .widgets {
          grid-template-columns: repeat(1, 1fr); // Adjust for smaller screens
        }
      }
    }
  }
}