body {
  font-family: 'Poppins';
  background-color: #f9f9f9;
}

.login-page {
  display: flex;
  height: 100vh;

  .login-form-section {
    width: 50%;
    padding: 50px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logo img {
      width: 150px;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 28px;
      margin-bottom: 10px;
    }

    p {
      color: #666;
      margin-bottom: 30px;
    }

    .user-type-toggle {
      display: flex;
      justify-content: space-between;
      max-width: 350px;
      width: 100%;
      margin-bottom: 20px;

      button {
        padding: 10px 20px;
        border: none;
        background: none;
        cursor: pointer;
        color: #333;
        font-size: 20px;
        font-weight: 600;

        &.active {
          color: orange;
          
        }
      }
    }

    form {
      width: 100%;
      max-width: 300px;

      label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
      }

      input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      .form-footer {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        font-size: 12px;
        span{
          color: #949191;
        }
        a {
          color: orange;
          text-decoration: none;
        }
      }

      button {
        width: 107%;
        padding: 10px;
        background-color: rgb(164, 163, 160);
        border: none;
        color: white;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #e68a00;
        }
      }
    }
  }

  .promo-section {
    width: 50%;
    background-color: #ff5722;
    color: white;
    display: flex;
    flex-direction: column;
    .customer{
      display: flex;
      justify-content: space-between;

      .indicator{
        margin-right: 20px;
      }
    }
    h1 {
      margin-left: 20px;
      margin-top: 100px;
      font-size: 30px;
      margin-bottom: 20px;
    }
    .tag{
      margin-left: 20px;

      p{
        margin:0;
      }
    }
    blockquote {
      font-size: 16px;
      font-style: italic;
      margin: 20px 0;

      cite {
        display: block;
        margin-top: 10px;
        font-size: 14px;
        font-weight: bold;
      }
    }
    .imageContainer{
      display: flex;
      justify-content: flex-end;
      margin-top: 12px;
      height: 100%;
      
      .tablet-preview {
        height: 52.5vh;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
      }
    }
    
  }
}

@media (max-width: 768px) {
  .login-page {
    flex-direction: column;

    .login-form-section,
    .promo-section {
      width: 100%;
      padding: 20px;
    }
  }
}
